.news{

    background-image: url("../img/maska1.jpg");
    background-repeat: repeat;
    padding: 12px 12px 37px 12px;

  &__inner{
    margin: 0 auto;
    width: 100%;
  }

  &__author{
    padding-left: 4px;
    padding-bottom: 24px;
    padding-top: 18px;
  }

  &__avatar{
    display: inline-block;
    margin-right: 14px;
  }

  &__avatar-skin{
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar-photo{
    width: 100%;
  }

  &__author-name{
    display: inline-block;
    vertical-align: top;
    line-height: 43px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: @color-author-name;
    font-family: @font_TexGyreHeros;
  }

  &__btn{
    //display: flex;
  }

  &__share-btn{
    position: relative;
    display: inline-block;
    width: 140px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: @color-avtorization;
    font-family: @font_TexGyreHeros;
    border-radius: 3px;
    background-color: @color-download-name;
    padding: 8px;
    margin-bottom: 20px;

    a{
      text-decoration: none;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: @color-avtorization;
      font-family: @font_TexGyreHeros;
      cursor: pointer;
    }
  }

  &__share-btn:before{
    position: absolute;
    display: inline-block;
    content: '';
    width: 14px;
    height: 14px;
    background-image: url("../img/share@2x.png");
    background-size: cover;
    left: 31px;
    top: 11px;
  }

  /***************POPUP************/

  &__popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
  }

  &__popup-close{
    position: absolute;
    display: inline-block;
    margin-left: 87px;
    vertical-align: top;
    margin-top: 15px;
    top: 0;
  }

  &__popup-close1{
    width: 14px;
    color: @color-popup-close;

    border: 1px solid @color-popup-close;

    transform: rotate3d(0, 0, 1, 45deg);

  }

  &__popup-close2{
    width: 14px;
    color: @color-popup-close;
    border: 1px solid @color-popup-close;
    margin-top: -2px;

    transform: rotate3d(0, 0, 1, 135deg);
  }

  &__popup-content{
      margin:40px auto 0px auto;
      width: 280px;
      height: 212px;

      background-color: #c5c5c5;
      border-radius:5px;
      box-shadow: 0px 0px 10px #000;
      z-index: 5;
  }

  &__popup-content{
    border-radius: 3px;

  }

  &__popup-title{
    position: relative;
    padding: 13px;
    font-family: @font_TexGyreHeros;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: @color-popup-title;
    background-color: @color-download-name;
  }

  &__socio{
    border-radius: 3px;
    background-color: @color-popup-socio;
    text-align: center;
    //opacity: 0.7;
  }

  &__popup-link{
    display: block;
    width: 151px;
    margin: 0 auto;
    //text-align: center;
    background-color: @color-download;
    margin-top: 21px;
    margin-bottom: 30px;
    font-family: @font_TexGyreHeros;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: @color-download-name;
    text-decoration: none;
  }

  &__popup-link:hover{
    text-decoration: none;
  }

  &__popup-soc{
    text-align: center;
  }

  &__popup-item{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    text-decoration: none;
  }

  &__popup-item--fb{
    background-color: @color-popup-fb;
    background-image: url("../img/soc-fb@2x.png");

  }

  &__popup-item--tw{
    background-color: @color-popup-tw;
    background-image: url("../img/soc-tw@2x.png");
  }

  &__popup-item--vk{
    background-color: @color-popup-vk;
    background-image: url("../img/soc-vk@2x.png");
  }

  &__popup-item--in{
    background-color: @color-popup-in;
    background-image: url("../img/soc-in@2x.png");
  }

/************************/

  &__add-btn{
    display: inline-block;
    width: 140px;
    background-color: @color-download;
    border-radius: 3px;
    font-family: @font_TexGyreHeros;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: @color-download-name;
    padding: 8px;
    margin-right: 12px;
    margin-bottom: 16px;
  }

  &__name{
    font-family: @font_TexGyreHeros;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: @color-author-name;
    padding-left: 4px;
    margin-bottom: 12px;
  }

  &__item{
    margin-bottom: 12px;
  }

  &__item-inner{
    margin: 0 auto;
    width: 100%;
    //width: 296px;
    border-radius: 5px;
    background-color: @color-bg-news;
    padding: 18px 18px 28px 16px;
    ul{
      padding-left: 16px;
    }
  }

  &__item-inner--liked{
    position: relative;
    span{
      position: absolute;
      overflow: hidden;
    }

    .news__item-corner{
      background-image: url('../img/corner-red@2x.png');
      width: 48px;
      height: 48px;
      right: 0;
      top: 0;

    }
  }



  &__item-star{
    width: 15px;
    height: 14px;
    background-image: url('../img/star@2x.png');
    z-index: 5;
    right: 4px;
    top: 5px;
  }

  &__item-inner--archived{
    position: relative;
    span{
      position: absolute;
      overflow: hidden;
    }

    .news__item-corner{
      background-image: url('../img/corner@2x.png');
      width: 48px;
      height: 48px;
      right: 0;
      top: 0;
    }
  }

  &__item-box{
    width: 16px;
    height: 14px;
    background-image: url('../img/box@2x.png');
    z-index: 5;
    right: 6px;
    top: 6px;
  }

  &__item-inner--protected{
    position: relative;
    overflow: hidden;
    span{
      position: absolute;
      overflow: hidden;
    }

    .news__item-corner{
      background-color: @color-avtorization;
      transform: rotate(-45deg);
      width: 50px;
      height: 150px;
      right: -10px;
      top: -75px;
    }
  }

  &__item-lock{
    width: 12px;
    height: 15px;
    background-image: url('../img/lock@2x.png');
    z-index: 5;
    right: 6px;
    top: 6px;
  }



  &__item-line{
    position: relative;
    font-family: @font_TexGyreHeros;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    color: @color-news-line;
    list-style-position:  outside;
    list-style-type: none;
    margin-left: 10px;
    list-style: none;
  }

  &__item-line:before{
    position: absolute;
    width: 14px;
    height: 14px;
    left: -25px;
    top: 4px;
    border-radius: 2px;
    border: solid 2px @color-style;
    content: '';
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }

  &__item-line--check:before{
    position: absolute;
    content: '';
    display: inline-block;
    left: -25px;
    top: 4px;
    background-color: @color-style-bg;
    border: none;
    vertical-align: top;
    margin-right: 10px;
  //   width: 8.6px;
  //   height: 5.9px;
  //   box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
  //   border: solid 1.5px #ffffff;
   }

  &__time-ago{
    display: inline-block;
    font-family: @font_TexGyreHeros;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: @color-time;
  }

  &__number-line{
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    color: @color-news-number;
  }

  &__date{
    font-family: @font_TexGyreHeros;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    color: @color-news-number;

  }

  &__month{
    position: relative;
    font-family: @font_TexGyreHeros;
    display: block;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: @color-news-number;
    margin-bottom: 15px;
    margin-left: 25px;
  }

  &__month:before{
    position: absolute;
    content: '';
    display: inline-block;
    background-image: url("../img/calendar@2x.png");
    width: 18px;
    height: 20px;
    //margin-right: 25px;
    left: -25px;
  }

  &__description{
    display: flex;
    justify-content: space-between;
  }

  &__item-video{
    margin-bottom: 6px;
    img{
      vertical-align: baseline;
    }
    //width: 264px;
    //height: 120px;
    //overflow: hidden;
  }

  &__item-video1{
    iframe{
      width: 264px;
      height: 148px;
    }
  }

  &__item-video2{
    img{
      width: 264px;
    }
  }

  &__item-video3{
    img{
      width: 264px;
    }
  }

  // &__item-video{
  //   img{
  //     width: 264px;
  //   }
  // }

  &__item-video4{
    display: inline-block;
    img{
      width: 180px;
    }
  }

  &__item-video5{
    display: inline-block;
    img{
      width: 77px;
    }
  }

  &__item-video6{
    img{
      width: 264px;
    }
  }

  &__item-video7{
    img{
      width: 264px;
    }
  }

  &__item-title{
    font-family: @font_TexGyreHeros;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: @color-news-title;
    list-style: none;
  }

  &__item-separator{
    display: block;
    margin-top: 24px;
    margin-bottom: 19px;
    height: 1px;
    background-color: @color-separator;
  }

  &__item-text{
    font-family: @font_TexGyreHeros;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: @color-news-line;
    margin-bottom: 16px;

  }

  &__map iframe{
    margin-top: 5px;
    margin-bottom: 12px;
  }

  &__map-name{
    font-family: @font_TexGyreHeros;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    text-align: left;
    color: @color-map;
    padding-bottom: 10px;
  }

  &__map-address{
    font-family: @font_TexGyreHeros;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: @color-news-number;
    padding-bottom: 8px;
  }

  &__map-link{
    font-family: @font_TexGyreHeros;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: @color-download-btn;
    padding-top: 8px;
  }

  &__files{
    a{
      text-decoration: none;
    }

    a:hover{
      text-decoration: none;
    }

    a:visited{
      text-decoration: none;
    }
  }

  &__files-link{
    display: inline-block;
    padding: 5px 10px 29px 10px;
    text-decoration: none;
    img{
      padding-left: 30px;
    }
  }

  &__files-name{
    display: block;
    font-family: @font_TexGyreHeros;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: @color-news-title;
  }

  &__item--protected{
    display: none;
  }

  &__item--archived{
    display: none;
  }

  &__information{
    display: flex;
    justify-content: space-between;
  }

  &__icon{
    display: inline-block;
  }

  &__share-icon{
    position: absolute;
    //display: inline-block;
  }

  &__share-icon:before{
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    right: 50px;
    top: 2px;
    display: inline-block;
    background-image: url("../img/share@2x.png");
    vertical-align: top;
  }

  &__url-icon{
    position: absolute;
    //display: inline-block;
  }

  &__url-icon:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    right: 0;
    display: inline-block;
    background-image: url("../img/url@2x.png");
    vertical-align: top;
  }

  &__time-information{
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @screen-sm){
    padding-left: 24px;
    padding-right: 24px;

    &__author-name{
      padding-right: 212px;
    }

    &__share-btn{
      display: none;
    }

    &__btn{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &__add-btn{
      width: 150px;
      margin-right: 0;
    }

    &__item-inner{
      padding: 30px;
    }

    &__item-title{
      display: block;
      li{
        display: inline-block;
      }
    }

    &__time-ago{
      display: inline-block;
    }

    &__number-line{
      display: inline-block;
    }

    &__item-title1{
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      border-bottom: 0.5px solid @color-separator;
    }

    &__number-line{
      padding-right: 50px;
    }

    &__item-title2{
      display: flex;
      justify-content: space-between;
    }

    &__information{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }


    &__item-video{
      margin-right: 12px;
      margin-bottom: 0;
    }

    &__item-video1{
      display: inline-block;
      iframe{
        width: 213px;
        height: 120px;
      }
    }

    &__item-video2{
      display: inline-block;
      img{
        width: 206px;
        height: 120px;
      }
    }

    &__item-video3{
      display: inline-block;
      img{
        width: 180px;
        height: 120px;
      }
    }

    &__item-video6{
      display: inline-block;
      margin-bottom: 12px;
      img{
        width: 218px;
        height: 120px;
      }
    }

    &__item-video7{
      display: inline-block;
      img{
        width: 180px;
        height: 120px;
      }
    }

    &__item-separator{
      margin-top: 20px;
    }

    &__map{
      iframe{
        display: inline-block;
      }
    }

    &__map-description{
      display: inline-block;
      width: 249px;
      vertical-align: top;
      margin-left: 16px;
    }

    &__map iframe {
    margin-bottom: 0;
}

  }

  @media (min-width: @screen-lg){
    &__inner{
      .container-desctop-fixed();
    }

    &__add-btn{
      //margin-right: 0;
    }

    &__author-name{
      padding-right: 477px;
    }

    &__item-video1{
      display: inline-block;
      iframe{
        width: 249px;
        height: 140px;
      }
    }

    &__item-video2{
      display: inline-block;
      img{
        width: 240px;
        height: 140px;
      }
    }

    &__item-video3{
      display: inline-block;
      img{
        width: 210px;
        height: 140px;
      }
    }

    &__item-video4{
      img{
       width: 208px;
       height: 140px;
      }
    }

    &__item-video5{
      img{
        width: 90px;
        height: 140px;
      }
    }

    &__item-video7{
      img{
        width: 208px;
        height: 140px;
      }
    }

    &__item-video6{
      margin-bottom: 0;
      img{
        width: 255px;
        height: 140px;
      }
    }

    &__item--protected{
      display: block;
    }

    &__item--archived{
      display: block;
      opacity: 0.7;
    }

    &__protected{
      display: inline-block;
      font-family: @font_TexGyreHeros;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: right;
      color: @color-protected;
    }

    &__archived{
      display: inline-block;
      font-family: @font_TexGyreHeros;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: right;
      color: @color-news-number;
    }

  }
}

