.page-footer{
  &__inner{
    padding: 24px;
    background-color: @color-footer;
  }

  &__link-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__link-journal{
    color: @color-text-footer;
    font-family: @font_PT_SerifRegular;
    font-size: 14px;
    line-height: 31px;
    font-weight: 500;
    padding-right: 16px;
    text-decoration: none;

    span{
      color: @color-schedule;
    }

  }

  &__link-journal:focus{
    color: @color-text-footer;
  }

  &__link-journal:hover{
    color: @color-text-footer;
  }

  &__link-journal:active{
    color: @color-text-footer;
  }

  &__feedback{
    font-family: @font_PT_SerifRegular;
    line-height: 31px;
    color: @color-schedule;
    padding-right: 55px;
    text-decoration: none;
    span{
        font-size: 16px;
      border-left: 1px solid @color-footer-span;

      padding-right: 6px;
    }
  }

  &__feedback:hover{
    text-decoration: none;
    color: @color-schedule;
  }


  &__feedback:active{
    text-decoration: none;
    color: @color-schedule;
  }

  &__feedback:visited{
    text-decoration: none;
    color: @color-schedule;
  }

  a:hover{
      text-decoration: none;


  }

  a:focus{
      text-decoration: none;

  }

  a:visited{
      text-decoration: none;

  }


}