.socio{
  display: inline-block;
  &__item{

  }

  a{
    display: inline-block;
    cursor: pointer;
  }

  &__item--ok{
    position: absolute;
    background-image: url("../img/ok.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 31px;
    right: 125px;
    top: 33px;
  }


  &__item--fb{
    position: absolute;
    background-image: url("../img/fb.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 31px;
    right: 82px;
    top: 33px;
  }

  &__item--vk{
    position: absolute;
    background-image: url("../img/vk.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 31px;
    right: 40px;
    top: 33px;
  }


}